<ion-header>
  <ion-toolbar>
    <ion-title>Descricao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<img src="{{pessoa.link}}" alt="">
  </ion-card>

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nome:{{pessoa.nome}}</ion-card-subtitle>
    <ion-card-title>Idade:{{pessoa.idade}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<ion-button (click)="goBack()" >Voltar</ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Feito por <br>Ruy de Ascenção Neto</ion-title>
  </ion-toolbar>
</ion-footer>
