<ion-header>
  <ion-toolbar>
    <ion-title>
      Animais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pessoa of lista" (click)='gotoDescricaoPage(pessoa)'>
    <ion-thumbnail slot="start">
    <img src="{{pessoa.link}}">
    </ion-thumbnail>
    <ion-label>{{pessoa.nome}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Feito por <br>Ruy de Ascenção Neto</ion-title>
  </ion-toolbar>
</ion-footer>
